@font-face {
    font-family: 'HoneyCrepes';
    src: url('../fonts/Honey_Crepes.otf') format('opentype'), url('../fonts/Honey_Crepes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}